/*
 * CSS for CSE392
 * Varun Shivakumar
 *
 *
 */


@font-face  {  font-family: "Geo";        src: url('fonts/Geomanist-Regular.otf')   format("opentype");     }
@font-face  {  font-family: "DStroke";    src: url('fonts/Distant_Stroke.otf')      format("opentype");     }
@font-face  {  font-family: "Roboto";     src: url('fonts/Roboto-Regular.ttf')      format("truetype");     }
@font-face  {  font-family: "Porter";     src: url('fonts/Porter Bold.ttf')         format("truetype");     }

.sidebar-item       {

    width: 125px;
    height: 125px;
    background-color: #50517F;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    cursor: pointer;
    border: 3px solid #50517F;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    font-family: Roboto, sans-serif;

    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);

}
.sidebar-item:hover {
    background-color: white;
    border: 3px solid #50517F;
    color: #50517F;
    z-index: 8;

}

#splashPageTitle{
    padding-top: 25vh;
    font-family: Porter, sans-serif;
    font-size: 4vw;
}
#blackDivider{
    background-color: black;
    height: 1px;
    width: 40%;
    margin: 15px auto;
}
#splashPageLogo{
    font-family: DStroke, sans-serif;
    font-size: 3.5em;
}
#splashBar{
    width: 35%;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.splashPageBarItem{
    border-radius: 50%;
    background-color: white;
    border: 2px solid black;
    color: black;
    height: 35px;
    width: 35px;
    cursor: pointer;
}
.splashPageBarItem:hover{
    background-color: black;
    border: 2px solid white;
    color: white;
}
#wave-animation{
    height: 22vh;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 1000%;
    z-index: 2;
    opacity: 0.5;
    right: 0;
}
#picture{
    border-radius: 50%; border: 4px solid #50517F;overflow: hidden;
}
.contentContainer{
    width: 70%;
    padding: 75px 0;
    min-height: 600px;
    max-width: 800px;
}

.title     {
    font-size: 4em;
    font-family: Geo, sans-serif;
}
.textTitleBold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.textTitle {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.textFont  {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.quote{
    font-size: 2.4vh; margin: 15px auto;
}
.grayDivider{
    height: 2px; width: 90%; background-color: lightgrey; margin: 25px auto 40px auto;
}

.fontSize40{  font-size: 2.5em;  }
.fontSize36{  font-size: 2.25em;  }
.fontSize32{  font-size: 2em;  }
.fontSize30{  font-size: 1.875em;  }
.fontSize28{  font-size: 1.75em;  }
.fontSize24{  font-size: 1.5em;  }
.fontSize20{  font-size: 1.25em;  }
.fontSize18{  font-size: 1.125em;  }
.fontSize17{  font-size: 1.0625em;  }
.fontSize16{  font-size: 1em;  }
.fontSize15{  font-size: 0.9375em;  }
.fontSize14{  font-size: 0.875em;  }
.fontSize13{  font-size: 0.8125em;  }
.fontSize12{  font-size: 0.75em;  }
.fontSize11{  font-size: 0.6875em;  }
.fontSize10{  font-size: 0.625em;  }

.centerText         {  text-align: center;                          }
.centerBlock        {  margin: 0 auto;                              }

.bordRed            {  border: 1px solid red;                       }
.bordBlack          {  border: 1px solid black;                     }
.bordWhite          {  border: 1px solid white;                     }

.bordRad50          {  border-radius: 50%;                          }
.bordRad5           {  border-radius: 5px;                          }

.inlineBlock        {  display: inline-block;                       }

.marg0              {  margin: 0;                                   }
.pad0               {  padding: 0;                                  }

.posAbs             {  position: absolute;                          }
.posRel             {  position: relative;                          }
.posFix             {  position: fixed;                             }

.top0               {  top: 0;                                      }

.floatLeft          {  float: left;                                 }
.floatRight         {  float: right;                                }

.backBlack1         {  background-color: #2e2e2e;                   }

.colWhite           {  color: white;                                }
.colBlack           {  color: #2D2D2D;                              }
.colDefault         {  color: #50517F;                              }

.backColWhite       {  background-color: white;                     }
.backColBlack       {  background-color: black;                     }
.backColDefault     {  background-color: #50517F;                   }
.backColOther       {  background-color: #F0F0FF;                   }
.backColLGray       {  background-color: lightgrey;                 }

.height110vh        {  height: 110vh;                               }
.height100          {  height: 100%;                                }

.width100           {  width: 100%;                                 }

.vertAlignMid       {  vertical-align: middle;                      }
.vertAlignTop       {  vertical-align: top;                         }

.margLR5            {  margin-left: 5px; margin-right: 5px;         }
.margTop15          {  margin-top: 15px;                            }

.z-1                {  z-index: -1;                                 }
.z0                 {  z-index: 0;                                  }
.z1                 {  z-index: 1;                                  }
.z2                 {  z-index: 2;                                  }

.sky {
    height: 480px;
    position:relative;
    overflow:hidden;
}

.clouds_one {
    background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_one.png");
    -webkit-animation:cloud_one 100s linear infinite;
    -moz-animation:cloud_one 100s linear infinite;
    -o-animation:cloud_one 100s linear infinite;
    top: 0;
    right: 0;
}

.clouds_two {
    background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_two.png");
    -webkit-animation:cloud_two 150s linear infinite;
    -moz-animation:cloud_two 150s linear infinite;
    -o-animation:cloud_two 150s linear infinite;
    top: 0;
    left: 0;
}

.clouds_three {
    background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_three.png");
    -webkit-animation:cloud_three 200s linear infinite;
    -moz-animation:cloud_three 200s linear infinite;
    -o-animation:cloud_three 200s linear infinite;
    top: 0;
    left: 0;
}

.clouds_one, .clouds_two, .clouds_three{
    position:absolute;
    height:100%;
    width:300%;
    -webkit-transform:translate3d(0,0,0);
    -moz-transform:translate3d(0,0,0);
    -o-transform:translate3d(0,0,0)
}

@-webkit-keyframes cloud_one   { 0% {  left:0  } 100% {  left:-200%  } }
@-webkit-keyframes cloud_two   { 0% {  left:0  } 100% {  left:-200%  } }
@-webkit-keyframes cloud_three { 0% {  left:0  } 100% {  left:-200%  } }
@-moz-keyframes    cloud_one   { 0% {  left:0  } 100% {  left:-200%  } }
@-moz-keyframes    cloud_two   { 0% {  left:0  } 100% {  left:-200%  } }
@-moz-keyframes    cloud_three { 0% {  left:0  } 100% {  left:-200%  } }

/*--------------------This is for the projects CSS-----------------------*/

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {

    position: fixed;
    top: -100%;
    width: 100%;
    background: rgba(0,0,0,.7);
    opacity: 0;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
    margin: auto;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    max-height: 0;
    max-width: 0;
    border: 3px solid white;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
    display: block;
    width:50px;
    height:50px;
    box-sizing: border-box;
    background: white;
    color: black;
    text-decoration: none;
    position: absolute;
    top: -80px;
    right: 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
    content: "";
    display: block;
    height: 30px;
    width: 1px;
    background: black;
    position: absolute;
    left: 26px;
    top:10px;
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
    opacity: 1;
    top: 0;
    bottom: 0;
}

.lightbox-target:target img {
    max-height: 100%;
    max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
    top: 0;
}